<!DOCTYPE html>
asd
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>KEO.GG</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900" rel="stylesheet" />
  <link rel="stylesheet" href="assets/styles.min.css" />
  <script src="./assets/vuejs.js"></script>
  <!-- <script src="./assets//vue.min.js"></script> -->
  <script src="./assets/scripts.min.js"></script>
</head>

<body class="home">
  <!-- header -->
  <div id="app">
    <header>
      <div class="container">
        <nav>
          <div class="logo-wrapper">
            <span class="logo">{{keoData.header.logo}}</span>
          </div>
          <div class="divider">
            <i class="fas fa-ellipsis-v"></i>
          </div>
          <div class="nav-wrapper">
            <ul class="navigation">
              <!-- Навигационные ссылки -->
              <li v-for="item in keoData.header.navItems" class="item">
                <a :href="item.link">{{item.title}}</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <div class="col-10">
            <div class="hero">
              <h1 class="title">{{keoData.header.mainText.title}}</h1>

              <p class="subtitle">
                {{keoData.header.mainText.subTitle}}
              </p>
            </div>
          </div>
          <div class="col-11">
            <div class="row items-wrapper">
              <!-- Числа -->
              <div class="col-12 col-lg-4" v-for="item in keoData.header.mainText.items">
                <div class="item">
                  <span class="num">{{item.number}}</span>
                  <div class="content">
                    <p class="title">{{item.title}}</p>
                    <p class="subtitle">
                      {{item.text}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- /header -->
    <section class="section our-mission">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="section-title">
              <span class="name">{{keoData.main.mission.name}}</span>

              <h2 class="heading">{{keoData.main.mission.title}}</h2>

              <p class="subtitle">
                {{keoData.main.mission.subTitle}}
              </p>
            </div>
            <div class="missions">
              <div class="item" v-for="item in keoData.main.mission.items">
                <div class="icon pen" :style="`background-image: url(${item.icon})`"></div>
                <div class="content">
                  <h4 class="title">
                    {{item.title}}
                  </h4>

                  <p class="subtitle">
                    {{item.text}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Монитор Слайдер -->
          <div class="monitor-wrapper">
            <img class="monitor" src="assets/img/xl2540-1.png" />
            <div class="screen-wrapper">
              <img v-for="item in keoData.main.mission.slider" :src="item.src" class="screen" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section statistics" id="statistics">
      <div class="container">
        <div class="section-title">
          <p class="name text-center">{{keoData.main.statistics.name}}</p>
        </div>
        <div class="row results">
          <div class="col-lg-3 col-12" v-for="item in keoData.main.statistics.items">
            <div class="item">
              <h3 class="number">{{item.number}}</h3>
              <span class="text">{{item.text}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section our-platform" id="about">
      <div class="container">
        <div class="section-title">
          <p class="name text-center">{{keoData.main.about.name}}</p>
          <h2 class="heading text-center">
            {{keoData.main.about.title}}
          </h2>
        </div>
        <div class="offers-list">
          <div class="row">
            <div class="col-12 col-lg-4" v-for="item in keoData.main.about.items">
              <div class="offer">
                <span class="icon" :style="`background-image: url(${item.icon})`"></span>

                <div class="content">
                  <h5 class="title">
                    {{item.title}}
                  </h5>

                  <p class="text">
                    {{item.text}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section form-section" id="partners">
      <div class="container">
        <div class="section-title">
          <p class="name text-center">{{keoData.main.partners.name}}</p>
        </div>
        <div class="partner-wrapper">
          <a v-for="item in keoData.main.partners.items" :href="item.link" class="partner" :style="`background-image: url(${item.image})`"></a>
        </div>
        <div class="row" id="contact">
          <div class="col-12">
            <form class="contactus" @submit.prevent="sendMessage()">
              <div class="section-title">
                <p class="name">{{keoData.main.contactForm.name}}</p>
                <h2 class="heading">{{keoData.main.contactForm.title}}</h2>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="name-label" for="name">
                    Имя <span>*</span>
                  </label>
                  <input type="text" name="name" class="form-control" v-model="name" placeholder="Полное имя" required />
                </div>
                <div class="col-12">
                  <label class="email-label" for="email">
                    E-mail <span>*</span>
                  </label>
                  <input type="email" name="email" class="form-control" v-model="email" placeholder="example@gmail.com"
                    required />
                </div>
                <div class="col-12">
                  <label class="phone-label" for="phone">
                    Телефон <span>*</span>
                  </label>
                  <input type="tel" name="phone" class="form-control" v-model="phone" placeholder="+7 777 777 777"
                    required />
                </div>
                <div class="col-12">
                  <label class="subject-label" for="subject">
                    Тема <span>*</span>
                  </label>
                  <input type="text" name="subject" class="form-control" v-model="subject" placeholder="Тема обращение"
                    required />
                </div>
                <div class="col-12">
                  <label class="message-label" for="text">
                    Сообщение <span>*</span>
                  </label>
                  <textarea type="text" name="message" class="form-control" v-model="message" placeholder="Введите текст сообщения"
                    required></textarea>
                </div>
              </div>
              <button class="butn" type="submit">
                <div v-if="isSend" class="keo-loader"></div>
                <div v-else>Отправить сообщение</div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <footer class="footer" 
      :style="`background-color: ${keoData.footer.background}; color: ${keoData.footer.color}`">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="contacts">
              <h5 class="title">Контактная информация</h5>

              <div class="item">
                <i class="fas fa-map-marker-alt"></i>

                <p class="footer-text">
                    {{keoData.footer.address}}
                </p>
              </div>

              <div class="item">
                <i class="fas fa-phone"></i>
                <p>
                  <a :href="`tel:${keoData.footer.phone}`">{{keoData.footer.phone}}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./data.js"></script>
  <script>
    let app = new Vue({
      el: "#app",
      data: {
        name: "",
        email: "",
        subject: "",
        phone: "",
        message: "",
        isSend: false,
        keoData: keodata
      },
      methods: {
        sendMessage() {
          if (this.isSend) {
            console.log("wait");
          } else {
            this.isSend = true;
            axios.post(
              "http://anuarder.pythonanywhere.com/sendMail", {
                name: this.name,
                email: this.keoData.main.contactForm.to,
                subject: this.subject,
                phone: this.phone,
                message: `Email: ${this.email}\n Сообщение: ${this.message}`
              }
            ).then(res => {
              this.isSend = false;
              alert("Сообщение отправленно");
              this.name = '';
              this.email = '';
              this.subject = '';
              this.phone = '';
              this.message = '';
            }).catch(err => {
              this.isSend = false;
              alert("Ошибка");
              this.name = '';
              this.email = '';
              this.subject = '';
              this.phone = '';
              this.message = '';
            });
          }
        }
      }
    });
  </script>
</body>

</html>