<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>KEO.GG</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="assets/styles.min.css" />
</head>

<body class="home">
    <!-- header -->
    <div id="app">
        <header>
            <div class="container">
                <nav>
                    <div class="logo-wrapper">
                        <span class="logo">KEO.GG</span>
                    </div>
                    <div class="divider">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="nav-wrapper">
                        <ul class="navigation">
                            <li class="item">
                                <a href="#about">О нас</a>
                            </li>
                            <li class="item">
                                <a href="#statistics">Статистика</a>
                            </li>
                            <li class="item">
                                <a href="#partners">Партнеры</a>
                            </li>
                            <li class="item">
                                <a href="#contact">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-10">
                        <div class="hero">
                            <h1 class="title">Играй и выигрывай</h1>

                            <p class="subtitle">
                                Киберспортивная платформа №1 в Казахстане
                                <br />Проходи регистрацию и начинай
                                оттачивать свое мастерство прямо сейчас!
                            </p>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="row items-wrapper">
                            <div class="col-12 col-lg-4">
                                <div class="item">
                                    <span class="num">4</span>

                                    <div class="content">
                                        <p class="title">Режима</p>
                                        <p class="subtitle">
                                            Будь свободен в своем выборе:
                                            поднимай скилл в ладдере, в лиге
                                            для профессионалов или
                                            тренируйся на специальной арене
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="item">
                                    <span class="num">7</span>

                                    <div class="content">
                                        <p class="title">Рангов</p>
                                        <p class="subtitle">
                                            Гибкая система матчмейкинга
                                            позволит играть с игроками
                                            равными тебе по скиллу
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="item">
                                    <span class="num">3</span>

                                    <div class="content">
                                        <p class="title">Мастер-сервера</p>
                                        <p class="subtitle">
                                            Больше не надо переживать за
                                            свой ping и tickrate. На твой
                                            выбор сервера: Алматы, Астана и
                                            Москва
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /header -->
        <section class="section our-mission">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="section-title">
                            <span class="name">МИССИЯ</span>

                            <h2 class="heading">Мы создаем историю</h2>

                            <p class="subtitle">
                                Наша цель - развитие киберспорта в
                                Казахстане и странах СНГ.
                            </p>
                        </div>
                        <div class="missions">
                            <div class="item">
                                <div class="icon pen"></div>
                                <div class="content">
                                    <h4 class="title">
                                        Киберспортивная платформа
                                    </h4>

                                    <p class="subtitle">
                                        Единственная платформа в Казахстане
                                        с динамически развивающейся системой
                                        матчмейкинга и организацией
                                        профессиональных соревнований по
                                        киберспортивным дисциплинам
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon square"></div>
                                <div class="content">
                                    <h4 class="title">
                                        Ежемесячные турниры
                                    </h4>

                                    <p class="subtitle">
                                        Открытые для всех любителей и
                                        профессионалов киберспортивные
                                        соревнования! За денежное
                                        вознаграждение и ценные призы от
                                        спонсоров
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon ruller"></div>
                                <div class="content">
                                    <h4 class="title">KEO.GG PRO League</h4>

                                    <p class="subtitle">
                                        Лига для профессионалов для создания
                                        конкурентоспособной плеяды игроков
                                        способных выступать на мировом
                                        уровне.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="monitor-wrapper">
                        <img class="monitor" src="assets/img/xl2540-1.png" alt="" />
                        <div class="screen-wrapper">
                            <img src="assets/img/3.png" alt="" class="screen screen3" />
                            <img src="assets/img/1.png" alt="" class="screen screen1" />
                            <img src="assets/img/2.png" alt="" class="screen screen2" />
                            <img src="assets/img/4.png" alt="" class="screen screen4" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section statistics" id="statistics">
            <div class="container">
                <div class="section-title">
                    <p class="name text-center">Статистика</p>
                </div>
                <div class="row results">
                    <div class="col-lg-3 col-12">
                        <div class="item">
                            <h3 class="number">13.000+</h3>
                            <span class="text">аккаунтов создано</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="item">
                            <h3 class="number">1800</h3>
                            <span class="text">игр в месяц</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="item">
                            <h3 class="number">5 M</h3>
                            <span class="text">призовой фонд</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="item">
                            <h3 class="number">284</h3>
                            <span class="text">команд зарегистрировано</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section our-platform" id="about">
            <div class="container">
                <div class="section-title">
                    <p class="name text-center">О нас</p>
                    <h2 class="heading text-center">
                        Что мы предлагаем нашим игрокам
                    </h2>
                </div>
                <div class="offers-list">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="offer">
                                <span class="icon icon1"></span>

                                <div class="content">
                                    <h5 class="title">
                                        Ранговый матчмейкинг
                                    </h5>

                                    <p class="text">
                                        Система автоматического подбора
                                        игроков, задача которой —
                                        обеспечение равных условий для всех
                                        участников матча
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="offer">
                                <span class="icon icon2"></span>

                                <div class="content">
                                    <h5 class="title">
                                        Гибкая кастомизация
                                    </h5>

                                    <p class="text">
                                        Мы используем современные гибкие
                                        технологии и разработки, обеспечивая
                                        основные потребности игроков
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="offer">
                                <span class="icon icon3"></span>

                                <div class="content">
                                    <h5 class="title">
                                        Вариативность сервера
                                    </h5>

                                    <p class="text">
                                        Широкий пул серверов, позволит
                                        играть в комфортных условиях, не
                                        беспокоясь за техническую
                                        состовляющую матча
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="offer">
                                <span class="icon icon4"></span>

                                <div class="content">
                                    <h5 class="title">
                                        Премиум возможности
                                    </h5>

                                    <p class="text">
                                        Для хорошей игры необходимо Ваше
                                        упорство, знания и продуманная
                                        стратегия. Используйте премиум
                                        аккаунт, чтобы сделает Вашу игру ещё
                                        более увлекательной!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="offer">
                                <span class="icon icon5"></span>

                                <div class="content">
                                    <h5 class="title">KEO.GG PRO League</h5>

                                    <p class="text">
                                        Лига для профессионалов. Побеждайте,
                                        чтобы достичь вершины рейтинга-7
                                        Ранга! Начать бои можно в любой
                                        момент-немного упорства и вы уже
                                        достойны награды!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="offer">
                                <span class="icon icon6"></span>

                                <div class="content">
                                    <h5 class="title">
                                        Регулярные турниры
                                    </h5>

                                    <p class="text">
                                        Ежемесячные турниры для всех
                                        желающих. Возможность побороться за
                                        крупный призовой фонд и ценные
                                        подарки от спонсоров
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section form-section" id="partners">
            <div class="container">
                <div class="section-title">
                    <p class="name text-center">Партнеры</p>
                </div>
                <div class="partner-wrapper row">
                    <div class="row col">
                        <a href="http://www.avtoradio.ru/" class="partner col" style="background-image: url('assets/icons/sponsors/avtoradio.png')"></a>
                        <a class="partner col" href="http://dalafm.kz/" style="background-image: url('assets/icons/sponsors/dalafm.png')"></a>
                    </div>
                    <div class="row col">
                        <a href="https://www.hyperxgaming.com/ru" class="partner col" style="background-image: url('assets/icons/sponsors/Asset 1.svg')"></a>
                        <a href="http://mobilex.kz/" class="partner col" style="background-image: url('assets/icons/sponsors/Asset 2.svg')"></a>
                    </div>
                </div>
                <div class="row" id="contact">
                    <div class="col-12">
                        <form class="contactus" @submit.prevent="sendMessage()">
                            <div class="section-title">
                                <p class="name">Контакты</p>
                                <h2 class="heading">Свяжитесь с нами</h2>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label class="name-label" for="name">
                                        Имя <span>*</span>
                                    </label>
                                    <input type="text" name="name" class="form-control" v-model="name" placeholder="Полное имя"
                                        required />
                                </div>
                                <div class="col-12">
                                    <label class="email-label" for="email">
                                        E-mail <span>*</span>
                                    </label>
                                    <input type="email" name="email" class="form-control" v-model="email" placeholder="example@gmail.com"
                                        required />
                                </div>
                                <div class="col-12">
                                    <label class="phone-label" for="phone">
                                        Телефон <span>*</span>
                                    </label>
                                    <input type="tel" name="phone" class="form-control" v-model="phone" placeholder="+7 777 777 777"
                                        required />
                                </div>
                                <div class="col-12">
                                    <label class="subject-label" for="subject">
                                        Тема <span>*</span>
                                    </label>
                                    <input type="text" name="subject" class="form-control" v-model="subject"
                                        placeholder="Тема обращение" required />
                                </div>
                                <div class="col-12">
                                    <label class="message-label" for="text">
                                        Сообщение <span>*</span>
                                    </label>
                                    <textarea type="text" name="message" class="form-control" v-model="message"
                                        placeholder="Введите текст сообщения" required></textarea>
                                </div>
                            </div>
                            <button class="butn" type="submit">
                                <div v-if="isSend" class="keo-loader"></div>
                                <div v-else>Отправить сообщение</div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="contacts">
                            <h5 class="title">Контактная информация</h5>

                            <div class="item">
                                <i class="fas fa-map-marker-alt"></i>

                                <p class="footer-text">
                                    Альфараби 144/47
                                </p>
                            </div>

                            <div class="item">
                                <i class="fas fa-phone"></i>
                                <p>
                                    <a href="tel:77271234567">7 (727) 123 4567</a>
                                </p>
                            </div>

                            <div class="item">
                                <i class="fas fa-at"></i>
                                <p class="footer-text">support@keo.gg</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="socials">
                            <h5 class="title">Соцсети</h5>
                            <div class="social-icons">
                                <a href="https://vk.com/keogg" class="vk">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://www.instagram.com/keo.gg/" class="insta">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://keo.gg/" class="facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="https://keo.gg/" class="telegram">
                                    <i class="fab fa-telegram"></i>
                                </a>
                                <a href="https://keo.gg/" class="rss">
                                    <i class="fas fa-rss"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <script src="assets/scripts.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                name: "",
                email: "",
                subject: "",
                phone: "",
                message: "",
                isSend: false
            },
            methods: {
                sendMessage() {
                    if (this.isSend) {
                        console.log("wait");
                    } else {
                        this.isSend = true;
                        axios.post(
                                "http://anuarder.pythonanywhere.com/sendMail", {
                                    name: this.name,
                                    email: 'anuar.ibraev97@gmail.com',
                                    subject: this.subject,
                                    phone: this.phone,
                                    message: `Email: ${this.email}\n Сообщение: ${this.message}`
                                }
                            ).then(res => {
                                this.isSend = false;
                                alert("Сообщение отправленно");
                                this.name = '';
                                this.email = '';
                                this.subject = '';
                                this.phone = '';
                                this.message = '';
                            }).catch(err => {
                                this.isSend = false;
                                alert("Ошибка");
                                this.name = '';
                                this.email = '';
                                this.subject = '';
                                this.phone = '';
                                this.message = '';
                            });
                    }
                }
            }
        });
    </script>
</body>

</html>